<a href="https://colab.research.google.com/github/shruthisony/python/blob/master/Day10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loops**

    

*   While
*   For

In [0]:
n=int(input("enter a number"))
i=1
while(i<=n):
  print(i,end=" ")
  i=i+1

enter a number7
1 2 3 4 5 6 7

In [0]:
n=int(input("enter a number"))
i=0
sum=0
while(i<=n):
  if(i%2==0):
    sum=sum+i
  i=i+1
print(sum)

enter a number10
30

In [0]:
n=int(input("enter a number"))
r=0
while(n>0):
  rem=n%10
  r=rem+r*10
  n=n//10
print(r)

enter a number234
432

**Functional programming**

In [0]:
def add(a,b):
  c=a+b
  return c

add(2,5)

7

In [0]:
def sum(n):
  s=0
  i=0
  while(i<=n):
    if(i%2==0):
      s=s+i
    i=i+1
  return s

sum(10)

30

In [0]:
def sumofevendigits(n):
  s=0
  while(n!=0):
    r=n%10
    if(r%2==0):
     s=s+r
    n=n//10
  return s

sumofevendigits(1234)

6

In [0]:
def large(n):
 s=0
 while(n>0):
   r=n%10
   if r>s:
     s=r
   n=n//10
 return s 

large(152672728)

8

**For loop**

In [0]:

for i in range(11,26):
  print(i,end=" ")

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
for i in range(500,521):
 if(i%4==0):
  print(i,end=" ")

500 504 508 512 516 520

In [0]:
def fun(a,b):
 for i in range(a,b+1,4):
  print(i,end=" ")

fun(500,520)

500 504 508 512 516 520

**Collection types**

*   List
*   Dictionary

*   Tuple

**List**


*   One of the data structure in python Ex: list=[1,2,3,4]
*   to store,to sort,to search

*   Seperated by commas and enclosed by square brackets
*   list is immutable(values cant be changed)

In [0]:
li=[1,2,3,4]
print(li)
print(li[-1])
print(li[2])
print(li[1:])
print(li[:2])
print(li[1:3])
print(li[::2])
print(li[-3:-1])

[1, 2, 3, 4]
4
3
[2, 3, 4]
[1, 2]
[2, 3]
[1, 3]
[2, 3]

In [0]:
li1=[1,"a",2,"s"]
print(li1)
li1[2]=9
print(li1)
del li1[2]
print(li1)

[1, 'a', 2, 's']
[1, 'a', 9, 's']
[1, 'a', 's']

In [0]:
li=[1,2,3,4,5]
print(li)
print(len(li))
print(li*2)
print(4 in li)
print(max(li))
print(min(li))
print(sorted(li))
li.append(6)
li.insert(6,7)
print(li.count(6))
li.pop(0)
print(li)
li.reverse()
print(li)
li.remove(5)
print(li)
li.index(2)

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
5
1
[1, 2, 3, 4, 5]
1
[2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2]
[7, 6, 4, 3, 2]

4

In [0]:
def lar(li):
 li.sort()
 print(li)
 return li[-1]
def genlar(li,n): #large
 li.sort()
 return li[-n]
def genlar1(li,n):  #small
 li.sort()
 return li[n] 

li=[4,3,2,7,6,0,8,9]
print(lar(li))
print(genlar(li,3))
print(genlar1(li,3))

[0, 2, 3, 4, 6, 7, 8, 9]
9
7
4

**Tuples**

*   List item
*   List item